@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $text-color;
  background: $background-color;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Button */
button {
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  color: $white;
  padding: 8px;
  text-transform: uppercase;
  transition: all 0.3s;
}

button:hover {
  background-color: $primary-color-dark;
  box-shadow: 0 2px 0px $text-color;
  cursor: pointer;
}

button.outlined {
  background-color: transparent;
  border: 1px solid $primary-color-light;
  color: $primary-color-light;
}

button.outlined:hover {
  background-color: $primary-color-dark;
  box-shadow: 0 2px 0px $text-color;
  color: $white;
}

/* Utility class */
.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
