html {
  font-size: calc(0.6vw + 14px);
}

body {
  font-family: "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-left: 16px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  color: $primary-color-light;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  background-color: $primary-color-light;
  color: $black;
  transition: 0.3s;
}

b {
  font-weight: bold;
}
