@mixin slide-y-generator($name, $distance) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateY($distance);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin slide-x-generator($name, $distance) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateX($distance);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
