button {
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  color: $black;
  font-weight: bold;
  padding: 8px;
  text-transform: uppercase;
  transition: all $default-transition-duration;
}

button:hover {
  filter: brightness(130%);
  cursor: pointer;
}

button:active {
  box-shadow: inset 0 0 1px 1px $text-color;
}

button.selected {
  filter: brightness(130%);
  &::after {
    content: " ✓";
  }
}

button.btn--outlined {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
}

button.btn--outlined:hover {
  border-color: $primary-color;
  color: $primary-color;
}
