html {
  font-size: calc(0.6vw + 14px);
}

body {
  font-family: "Quicksand", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1em;
}

h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 4rem;
  line-height: 4.2rem;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 16px;
  margin-bottom: 32px;
  text-transform: uppercase;
  width: fit-content;
  transform-style: preserve-3d;
  &::before {
    background-color: $secondary-color;
    bottom: -0.1rem;
    content: "";
    display: block;
    height: 0.2rem;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
    transition: all $default-transition-duration;
    transform: translateZ(-1px);
  }
}

h2:hover {
  &::before {
    bottom: 0;
    height: 100%;
  }
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

a {
  color: $primary-color-light;
  font-weight: 500;
  text-decoration: none;
  transition: $default-transition-duration;
}

a:hover {
  background-color: $primary-color-light;
  color: $black;
  transition: $default-transition-duration;
}

b {
  font-weight: bold;
}
