$black: #080f0f;
$white: #f8f1ff;
$text-color: $white;
$background-color: $black;

$primary-color: #74e274;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

$secondary-color: #984447;
$secondary-color-light: #db504a;

$border-radius: 4px;
$sidebar-width: 28px;

$default-transition-duration: 0.3s;
