$black: #091316;
$white: #f7fff7;
$text-color: $white;
$background-color: $black;

$primary-color: #67b654;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #b6524e;

$border-radius: 4px;
$sidebar-width: 28px;

$default-transition-duration: 0.3s;
$card-gap: 1rem;
